.dropdown-wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.dropdown-container {
  position: relative;
  background-color: hsl(0, 0%, 21%);
  /* padding: 1rem; */
  color: white;
  max-width: 500px;
  min-width: min(80%, 400px);

  max-height: 80%;
  min-height: min(70%, 400px);

  overflow: auto;
}

.dropdown-container .dropdown-search-wrapper {
  position: sticky;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: hsl(0, 0%, 21%);
}
.dropdown-container .dropdown-search {
  display: inline-block;

  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0.3rem;
  background-color: hsl(0, 0%, 80%);
}

.dropdown-container .dropdown-list {
  padding-inline: 1rem;

  display: flex;
  margin-top: 0.3rem;

  flex-direction: column;
  gap: 0.3em;
}

.dropdown-list .dropdown-item {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.3em;
  padding-block: 0.2em;
  border-radius: 5px;
  font-size: 1.3em;
}

.dropdown-list .dropdown-item:nth-child(2n + 1) {
  background-color: hsl(0, 0%, 25%);
}

.dropdown-list .dropdown-item:hover {
  background-color: hsl(0, 0%, 50%);
  cursor: pointer;
}
