.custom-form {
  padding: 1em 0.3em;
}

.custom-form .form-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.input-container-wrapper {
  display: flex;
  gap: 1em;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.input-container {
  --text-color: black;
  display: flex;
  flex-direction: column;
  /* margin-inline: auto; */
  max-width: 500px;
  margin-block-start: 1em;
}

.input-container .input-label {
  margin-block: 0.5em;
}

.input-container .input {
  outline: none;
  border: none;
  padding: 0.5em;
  color: var(--text-color);
}

.input::placeholder {
  color: var(--text-color);
}

.input[name="button"] {
  cursor: pointer;
  text-transform: uppercase;
  background-color: hsl(229, 78%, 50%);
  color: white;
}

.input[name="button"]:hover {
  background-color: hsl(229, 78%, 55%);
}
