.customer-transaction {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

.customers-container {
  --childrens-inline-padding: 0.5em;

  background-color: var(--secondary-bg);
  margin-inline: 0.3em;
  padding-block: 0.5em;

  border-radius: 0.5em;
}
.customers-title {
  margin: 0;
  padding: 0;
  /* padding-block: 0.3em; */
  padding-inline: var(--childrens-inline-padding);
  text-transform: uppercase;
}

.customers {
  display: flex;
  flex-direction: column;
  /* gap: 0.3em; */
}

.customer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-inline: var(--childrens-inline-padding);
  padding-block: 0.4em;
}

.customer:nth-child(2n) {
  background-color: var(--primary-bg);
}
