
.custom-form .form-title {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  color: var(--color-slate100);
}

.input-container-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;

  overflow-y: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.input-container .input {
    width: 100%;
    padding: 0.5em;
    background-color: var(--bg-primary);
    outline: none;
    border: 2px solid var(--color-slate100);
    color: var(--color-slate100);
    border-radius: 0.3em;
    font-size: var(--size-m);
}

/* .input[name="button"] {
  --background-color: var(--secondary-bg);
  --border-color: var(--primary-color);
  --color: var(--secondary-color);

  cursor: pointer;
  text-transform: uppercase;
  padding-inline: 1em;
  color: var(--color);
  background-color: var(--background-color);
  border: 0.1em solid var(--border-color);
  border-radius: 2em;
}

.input[name="button"]:hover {
  --background-color: var(--complimentary-bg);
  --color: var(--complimentary-color);
} */
