.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: hsl(229, 78%, 50%);
  flex-wrap: wrap;
  gap: 0.4em;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
}

.link-item {
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.link-item:hover {
  background-color: hsl(229, 78%, 60%);
}
