.top-nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-bg);
  flex-wrap: wrap;

  padding-block: 1em;
}


.link-item {
  --hover-transition-duraction: 300ms;

  padding-block: 1em;
  padding-inline: 0.5em;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color var(--hover-transition-duraction) ease,
    color var(--hover-transition-duraction) ease;
}

.link-item:hover {
  background-color: var(--complimentary-bg);
  color: var(--secondary-bg);
}
