.page-title-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

}


.page-title-container > * {
    display: inline-block;
}

.page-title-container span {
    background-color: var(--color-slate100);
    color: var(--bg-primary);
    font-size: var(--size-l);
    padding: 0.5em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}