.transaction-container {
  box-shadow: inset 0 0 5px var(--color-slate100);
  padding: 1.5em 2em;
  border-radius: 0.5em;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.transaction-title {
  text-align: center;
  font-weight: 600;
  font-size: var(--size-l);
  margin-block-end: 0.5em;
}

.transaction-items-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  max-height: min(50svh, 400px);
  overflow-y: auto;
  padding-block-end: 1.5rem;
  border-block-end: 2px solid var(--color-slate100);
}

.transaction-item {
  /* --background-color: inherit;
  --color: inherit; */

  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 0.2em 0.8em;
  user-select: none;
  background-color: var(--background-color, inherit);
  color: var(--color, inherit);
}

.transaction-item:nth-child(2n) {
  --background-color: var(--color-slate600);
}

.transaction-item.active {
  --background-color: var(--color-slate100);
  --color: var(--bg-primary);
}

.transaction-item.deduction {
  --color: var(--rose-600);
}

.transaction-item.credit {
  --color: var(--green-600);
}

.transaction-details {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.2em;
}
